on: [push]

name: CI

jobs:
  build:
    name: Build, test and upload artifact
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
    
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Run lint
        run: cargo clippy --release
      - name: Run fmt check
        run: cargo fmt --check
      - name: Build binaries
        run: cargo build --release
      - name: Run tests
        run: cargo test --release

      - name: Upload release artifact
        uses: actions/upload-artifact@v6
        with:
          name: sparoid
          path: target/release/sparoid
